.container-2 {
    border: 1px solid red;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    

}
.flex-box-container-2 {
    border: 1px solid rgb(47, 0, 255);
    display : flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    padding: 13px;

}
.demo1 {
    
    padding: 20px;
    padding-left: 4.5em;
    border: 1px solid rgb(101, 22, 165);
}
